@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title me</h2>

<br />
<br />
@*<address>
        <abbr title="Phone">P:</abbr>
        0451405398
    </address>*@
<p><a href="https://www.buymeacoffee.com/stevenzhai" target="_blank"><img src="/buy-me-a-coffee.PNG" height="50"></a></p><br />
<p>
    <address>
        <strong>Support:</strong>   <a href="mailto:steven_zhai@hotmail.com">steven_zhai@hotmail.com</a><br />
    </address>
</p>
