@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
 
<br /><br />
@*<address>
    <abbr title="Phone">P:</abbr>
    0451405398
</address>*@

<address>
    <strong>Support:</strong>   <a href="mailto:steven_zhai@hotmail.com">steven_zhai@hotmail.com</a><br />
</address>